<div class="container">
  <div class="row">
    <div class="nav-pills-center">
      <ul class="nav nav-pills">
        <li role="presentation" class="active"><%= link_to "All Restaurants", root_path %></li>
        <% @categories.each do |category| %>
          <li role="presentation"><%= link_to category.name, category_path(category) %></li>
        <% end %>
      </ul>
    </div>
    <div class="nav-tabs-center">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><%= link_to "RestAuranTalk", root_path %></li>
        <li role="presentation" ><%= link_to "Latest News", feeds_restaurants_path %></li>
        <li role="presentation" ><%= link_to "Followings", users_path %></li>
      </ul>
    </div>
    <!--import partial file-->
    <%= render partial: "shared/restaurant_list" %>

  </div>
</div>
